:root {
 --link-color: #fff;
 --heading-font-family:'Raleway', sans-serif;
}
    
.global-header{
    background-color: #333;
}

.global-header .main-navigation a:link,
.global-header .main-navigation a:visited {
    color: var(--link-color);
}

.global-header .main-navigation a:hover {
  color:
 #FF6c00;   
}

.global-header .main-navigation a:active {
    color: #ff0000;     
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font-family);
    font-weight: 700;
  }

  .button {
    cursor: pointer;
  }

  .phone-number {
    color: var(--link-color);
    font-family: var(--text-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
  }

  .phone-number: hover{
    color: var(--link-hover-color);
  
  }

  